*.png
logs
*.log

# Eclipse Setting
/.metadata
/Servers
.settings
.project
.classpath
.buildpath
RemoteSystemsTempFiles
bin
org.eclipse.jdt.core.prefs

# Maven
target

# Netbeans Ignore
build
dist
private
nbactions.xml
